* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  position: relative;
  color: #282828;
  font-size: 14px;
  font-family: 微软雅黑;
}
.header {
  width: 100%;
  height: 56px;
  background-color: rgb(255, 227, 0);
}
.header_main {
  position: relative;
  width: 1379px;
  height: 100%;
  margin: auto;
}
.menu_box {
  width: 1379px;
  height: 100%;
}
.menu_content > ul {
  display: inline-block;

  height: 56px;
  margin: auto;

  display: flex;
  justify-content: center;
  line-height: 56px;
}
.menu_content > ul > li {
  text-align: left;
  float: left;
}
.menu_content > ul > li > a {
  display: inline-block;
  padding: 0 24px;
  color: #282828;
}
.menu_content > ul > li:hover > a {
  background-color: rgb(40, 40, 40);
  color: rgb(255, 227, 0);
}
.menu_more {
  position: relative;
  width: 60px;
  height: 56px;

  text-align: center !important;
  color: #000;
}

.icon-gengduosangedian {
  font-size: 24px;
}
.more_back {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4a3b;
  margin: 0 0 2px 3px;
  position: absolute;
  top: 20px;
}
.head_logo {
  position: absolute;
  width: 120px;
  height: 20px;
  background-image: url("//static.zcool.cn/git_z/z/common/images/svg/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
.icon-sousuo {
  width: 60px;
  height: 56px;
  display: inline-block;
  top: 0;
  position: absolute;
  margin-left: 1127px;
  font-size: 25px !important;
  text-align: center;
  line-height: 56px;
}
.icon-sousuo:hover {
  background-color: rgb(40, 40, 40);
  color: #ffe300;
}
.header_right {
  position: absolute;
  width: 192px;
  height: 56px;
  margin-left: 1187px;
  top: 0;

  line-height: 56px;
}
.icon-yunshangchuan {
  width: 62px;
  height: 56px;
  font-size: 25px !important;
  display: inline-block;
  text-align: center;
}
.icon-yunshangchuan:hover {
  background-color: #282828;
  color: #ffe300;
}
.header_right > a {
  margin-left: 20px;
  padding: 0;
  text-decoration: none;
  color: #282828;
}
.header_right > a > i {
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #444;
  margin-left: 20px;
}

.nav-find {
  position: absolute;
  width: 664px;
  height: 144px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.find .nav-find {
  display: none;
  z-index: 2;
}
.find:hover .nav-find {
  display: block;
}

.discover-box-list {
  font-size: 0;
  height: 93px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 11px 17px 17px;
  box-sizing: border-box;
  overflow: hidden;
}

.discover-box-list > li {
  position: relative;
  width: 90px;
  height: 28px;
  line-height: 28px;
  margin-top: 4px;
  text-align: center;
}

.discover-box-list > li a {
  display: inline-block;
  min-width: 42px;
  height: 28px;
  line-height: 28px;
  padding: 0 7px;
  text-align: center;
  position: relative;
  margin: 0 6px;
  border-radius: 4px;
  font-size: 14px;
  color: #282828;
}

.discover-box-list > li a:hover {
  background-color: yellow;
}

.discover-box-list > li i {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 14px;
  background: #ddd;
  top: 5px;
  right: 0;
}

.discover-check-all {
  width: 664px;
  height: 51px;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #eaeaea;
}

.discover-check-all > li {
  height: 50px;
  margin-right: 40px;
}

.discover-check-all > li a {
  color: #444444;
}

.discover-check-all > li > a:hover {
  color: #d36f16;
}

/* 职位 活动 素材 课程二级导航 */
.position,
.active,
.material,
.course,
.protection,
.menu_more {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.position:hover,
.active:hover,
.material:hover,
.course:hover,
.protection:hover,
.menu_more:hover {
  overflow: visible;
}

.nav-position,
.nav-active,
.nav-material,
.nav-course,
.nav-protection,
.nav-more {
  position: absolute;
  padding: 6px 0;

  width: 152px;
  text-align: left;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.nav-position li,
.nav-active li,
.nav-material li,
.nav-course li,
.nav-protection li,
.nav-more li {
  height: 44px;
  line-height: 44px;
}

.nav-position li a,
.nav-active li a,
.nav-material li a,
.nav-course li a,
.nav-protection li a,
.nav-more li a {
  display: inline-block;
  width: 152px;
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  padding-left: 20px;
  color: #282828;
}

.nav-position li a:hover,
.nav-active li a:hover,
.nav-material li a:hover,
.nav-course li a:hover,
.nav-protection li a:hover,
.nav-more li a:hover {
  background-color: yellow;
}
.nav-more li:nth-of-type(2) {
  position: relative;
}
.nav-more sup {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4a3b;
  margin: 0 0 2px 3px;
  position: absolute;
  top: 20px;
}
/* ------------------------ */
.top_hull {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #eee;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1;
}
.top_hull_content {
  position: relative;
  width: 1130px;
  height: 56px;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 56px;
}
.top_hull_content > li > a {
  display: inline-block;
  padding: 0 30px;
  color: #999999;
}
.top_hull_content > li > a:hover {
  color: #282828;
  border-bottom: 2px solid #444;
}

.top_hull_right {
  position: absolute;
  right: 0;
  color: #d36f16;
  font-size: 14px;
}
/* 内容 */
.main {
  width: 100%;
  height: auto;
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: center;
}
.main_box {
  width: 1150px;
  height: auto;
  background-color: rgb(244, 244, 244);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.active_title {
  position: absolute;
  width: 68px;
  height: 32px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px 0 4px 0;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 32px;
}
.main_picture {
  width: 555px;
  height: 440px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.main_picture:hover {
  opacity: 0.8;
}
.active_picture {
  display: inline-block;
  width: auto;
  height: auto;
}

.active_picture > img {
  width: 555px;
  height: 281px;
  border-radius: 4px 4px 0 0;
}
.active_text {
  padding: 20px;
  width: 100%;
  height: 102px;

  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.active_text > h5 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.active_text > h5 > a {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
}
.active_text > p {
  padding-top: 14px;
  color: #aaaaaa;
  font-size: 14px;
  vertical-align: middle;
}
.active_warp {
  width: 100%;
  height: 58px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
  color: #aaa;
  font-size: 12px;
}
.active_warp_right {
  float: right;
}
.icon_down {
  color: #aaa;
  font-size: 12px;
  margin-right: 5px;
  vertical-align: middle;
}
.icon_text {
  margin-right: 5px;
}
/* 内容一模板 */
.active_list {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.active_list > a {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin: 0 3px 0;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  color: #999999;
}
.active_list > a:hover {
  background-color: rgb(255, 227, 0);
}
.footer {
  width: 100%;
  height: 229px;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_top {
  width: 1130px;
  height: 130px;
  border-bottom: 1px solid #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_top_left {
  width: 806px;
}
.footer_top_left > a {
  color: #666;
  margin-right: 24px;
  vertical-align: middle;
  font-size: 14px;
}
.footer_top > div > a:hover {
  color: #999999;
}
.footer_top_right {
  width: 131px;
  height: auto;
}
.footer_top_right > a {
  font-size: 24px;
  color: #666;
  margin-left: 40px;
}
.footer_middle {
  width: 1130px;
  height: 21px;
  margin-top: 20px;
  font-size: 12px;
}
.police > img {
  vertical-align: middle;
}
.footer_middle > a {
  vertical-align: middle;
  color: #666;
}
.footer_middle > span > a {
  vertical-align: middle;
  color: #666;
}
.footer_wrapper > div > i {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 20px;
  background: #666666;
  vertical-align: middle;
}
.footer_down {
  position: relative;
  margin-top: 10px;
}
.footer_down > a {
  vertical-align: middle;
  color: #666;
  font-size: 12px;
}
.footer_down > a:nth-of-type(6) {
  position: absolute;
  right: 0;
  bottom: 0;
}
.footer_wrapper > div > a:hover {
  color: #999999;
}
.footer_wrapper > div > span > a:hover {
  color: #999999;
}
